@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito&family=Raleway&display=swap');

.App {
  font-family: Nunito, sans-serif;
}

.io-container {
  display: flex;
}

.section{
  flex:1;
  margin: 0em 2em;
  height: 90vh;
}

.output{
  border: 1px solid rgb(255, 92, 92);
  border-radius: 10px;
  background: rgba(0,0,0, 0.2);
  height: 100%;
  align-items: stretch;
  text-align: left;
  padding: 3px;
  overflow: scroll;
}